<div id="<%= dom_id reward %>">
  <p>
    <strong>User:</strong>
    <%= reward.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= reward.title %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= reward.cost %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= reward.order %>
  </p>

  <p>
    <strong>Expire at:</strong>
    <%= reward.expire_at %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= reward.minutes %>
  </p>

  <p>
    <strong>Uses:</strong>
    <%= reward.uses %>
  </p>

</div>
